:root {
  /* Colors: */
  --color-e8b146: #e8b146;
  --color-4e8e6e: #4e8e6e;
  --color-fbfce6: #fbfce6;
  --color-79ab94: #79ab94;
  --color-333333: #333333;

  /* Font/text values */
  /* --font-family-dnp-shueimgostd: DNP ShueiMGoStd; */
  --font-family-dnp-shueimgostd: "sofia-pro-soft","dnp-shuei-mgothic-std";
  --font-style-normal: normal;
  --font-weight-normal: normal;
  --font-size-48: 48px;
  --character-spacing-0: 0px;
  --line-spacing-106: 106px;
}

*, ::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* percentage of browser font-size setting */
  font-size: 62.5%;
}

/* @media screen and (max-width: 1850px) {
  html {
    font-size: 55%;
  }
}*/

@media screen and (max-width: 1440px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 45%;
  }
}

/* @media screen and (max-width: 1024px) {
  html {
    font-size: 30%;
  }
} */

body: {

}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {

}

.margin-right-sm {
  margin-right: 1.8rem !important;
}

.margin-bottom-sm {
  
}

.margin-bottom-md {
  
}

.margin-bottom-lg {
  margin-bottom: 9.3rem !important;
}

/* Character Styles */
.char-style {
  /* font: normal normal normal 18px/32px Hiragino Sans; */
  font-family: 'Hiragino Sans';
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.24rem;
  color: #282828;
}

.char-style-heading {
  font-family: "sofia-pro-soft","dnp-shuei-mgothic-std";
  font-size: 4.8rem;
  color: #fff;
  text-align: center;
}


/* .char-style-header {
  font: var(--font-style-normal) normal var(--font-weight-normal) 23px/51px
    var(--font-family-dnp-shueimgostd);
  letter-spacing: var(--character-spacing-0);
  font: normal normal normal 23px/51px DNP ShueiMGoStd;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
} */

.char-style-noto {
  font-family: "NotoSansCJKjp";
}

.char-style-noto.heading {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;

  margin-bottom: 2.6rem;
}

/* .char-style-header {
  font-size: 2.3rem;
  font-family: var(--font-family-dnp-shueimgostd);
  color: #ffffff;
} */

/* button */
.button {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #282828;
  background-color: #fff;
  border-radius: 3.8rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "NotoSansCJKjp";
  color: #282828;
}

.button:link, .button:visited {
  width: 100%;
}

.btn-arrow {
  float: right;
  margin-right: 1.5rem;
}

.button.sml {
  width: 51.5%;
  margin: 0 auto;
}


/* layout */

.container {
  max-width: 120rem;
  margin: 0 auto;

  padding-top: 15rem;
  padding-bottom: 15rem;
}

.inner-container {
  max-width: 120rem;
  border-radius: 3rem;
  padding: 5.6rem;
}

.schedule-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.inner-container.white {
  background-color: #fff;
}

.grid {
  display: grid;
  row-gap: 8rem;
  column-gap: 8.4rem;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}







