:root {
  /* Colors: */
  --color-e8b146: #e8b146;
  --color-4e8e6e: #4e8e6e;
  --color-fbfce6: #fbfce6;
  --color-79ab94: #79ab94;
  --color-333333: #333333;

  --font-family-dnp-shueimgostd: "sofia-pro-soft","dnp-shuei-mgothic-std";
  --font-style-normal: normal;
  --font-weight-normal: normal;
  --font-size-48: 48px;
  --character-spacing-0: 0px;
  --line-spacing-106: 106px;
}

*, ::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* percentage of browser font-size setting */
  font-size: 53.125%;
  font-size: 51.1%;
  font-size: 55%;
}

/* @media screen and (max-width: 1440px) {
  html {
    font-size: 60%;
  }
} */
/* @media screen and (max-width: 1920px) {
  html {
    font-size: 45%;
  }
} */

@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  .container {
    width: 656px;
  }
}

@media screen and (max-width: 667px) {
  html {
    font-size: 55%;
  }

  .container {
    width: 327px;
  }
}

body: {

}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

a:hover, a:active {
  opacity: 0.7;
  transition: .3s;
}

.margin-right-sm {
  margin-right: 1.8rem !important;
}

.margin-bottom-sm {
  
}

.margin-bottom-md {
  
}

.margin-bottom-lg {
  margin-bottom: 9.3rem !important;
}

/* Character Styles */
.char-style {
  /* font: normal normal normal 18px/32px Hiragino Sans; */
  font-family: 'Hiragino Sans';
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3.24rem;
  color: #282828;
}

.char-style-heading {
  font-family: "sofia-pro-soft","dnp-shuei-mgothic-std";
  font-weight: bold;
  font-size: 4.8rem;
  color: #fff;
  text-align: center;
}

.char-style-noto {
  /* font-family: "NotoSansCJKjp"; */
  font-family: "Hiragino Kaku Gothic Pro";
}

.char-style-noto.heading {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;

  margin-bottom: 2.6rem;
}

/* .char-style-header {
  font-size: 2.3rem;
  font-family: var(--font-family-dnp-shueimgostd);
  color: #fff;
} */

/* button */
.button {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #282828;
  background-color: #fff;
  border-radius: 3.8rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "NotoSansCJKjp";
  color: #282828;
}

.button:link, .button:visited {
  width: 100%;
}

.button.sml {
  width: 51.5%;
  margin: 0 auto;
}

/* Heading */

.heading-container {
  position: relative;
  display: inline-block;

  display: flex;
  justify-content: center;

  margin-bottom: 5rem;
}

.heading-primary {
  border-bottom: .4rem solid #E0B25A;
  padding-bottom: 2rem;
  position: relative;
}

.triangle::after {
  content: "";
  /* width: .1rem;
  height: .1rem; */

  border-right: 1.5rem solid transparent;
  border-top: 3rem solid #E0B25A;
  border-left: 1.5rem solid transparent;
  
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translateX(-50%);

  z-index: 2;
}

.triangle.grn::before {
  content: "";
  width: .1rem;
  height: .1rem;
  border-right: 1.5rem solid transparent;
  border-top: 3rem solid #64A28D; 
  border-left: 1.5rem solid transparent;

  position: absolute;
  top: 87.5%;
  left: 50%;

  transform: translateX(-50%);

  z-index: 3;
}

.triangle.yell::before {
  content: "";
  width: .1rem;
  height: .1rem;
  border-right: 1.5rem solid transparent;
  border-top: 3rem solid #fbfce6; 
  border-left: 1.5rem solid transparent;

  position: absolute;
  top: 87.5%;
  left: 50%;

  transform: translateX(-50%);

  z-index: 3;
}

.triangle-background {
  width: 5rem;
  height: 1.5rem;
  position: absolute;
  top: 85%;
  left: 50%;

  transform: translateX(-50%);

  z-index: 1;
}

.yel {
  background-color: #fbfce6;
}

.green {
  background-color: #64A28D;
}



/* right arrow */

.btn-arrow-right {
  position: relative;
}

.btn-arrow-right::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3rem;

  width: 1.5rem;
  height: 1.5rem;
  border-top: .3rem solid #333;
  border-right: .3rem solid #333;
  transform: rotate(45deg);
  transition: .3s;
}

.btn-arrow-right::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4rem;
  width: 1.5rem;
  height: .3rem;
  background: #333;
  transition: .3s;
}

.btn-arrow-right:hover::before {
  right: 1.5rem;
}

.btn-arrow-right:hover::after {
  right: 2.5rem
}


/* down arrow */

.btn-arrow-down {
  position: relative;
}

.btn-arrow-down::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3.1rem;

  width: 1.5rem;
  height: 1.5rem;
  border-top: .3rem solid #333;
  border-right: .3rem solid #333;
  transform: rotate(135deg);
  transition: .3s;
}

.btn-arrow-down::after {
  content: "";
  margin: auto;
  position: absolute;
  top: -1rem;
  bottom: 0;
  right: 3.7rem;
  width: .3rem;
  height: 1.5rem;
  background: #333;
  transition: .3s;
}

.btn-arrow-down:hover::before {
  top: 1rem;
}

.btn-arrow-down:hover::after {
  top: .25rem
}


/* layout */

.container {
  max-width: 120rem;
  margin: 0 auto;

  padding-top: 15rem;
  padding-bottom: 15rem;
}

.inner-container {
  max-width: 120rem;
  border-radius: 3rem;
  padding: 5.6rem;
}

.schedule-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.inner-container.white {
  background-color: #fff;
}

.grid-2 {
  display: grid;
  row-gap: 8rem;
  column-gap: 8.4rem;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
}

.grid-3cols {
  grid-template-columns: 19% 1fr 21.8%;
  column-gap: 5%;
}

.grid-3cols.second {
  grid-template-columns: 15% 1fr 26%;
  column-gap: 5%;  
}






