/***********************/
/* HEADER */
/***********************/
/* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 64px/141px var(--unnamed-font-family-dnp-shueimgostd);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 64px/141px DNP ShueiMGoStd; */

header {
  background-image: url(../img/top_bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

header {
  /* font: var(--font-style-normal) normal var(--font-weight-normal) 23px/51px
    var(--font-family-dnp-shueimgostd); */
  font-size: 2.3rem;
  font-family: var(--font-family-dnp-shueimgostd);
  /* font: normal normal normal 23px/51px DNP ShueiMGoStd; */
  color: #ffffff;
}

nav {
  width: 45%;
  margin: 0 auto;
  padding-top: 2%;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container a {
  color: #fff;
}

/***********************/

.top-info-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-top {
  font-size: 6.4rem;
  /* line-height: 20px; */
}

.heading-top img {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.dates-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5vh;
}

.date-info {
  display: flex;
  align-items: center;
}

.logo-round {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: #fff;
  color: #5e9b79;
  font-size: 2rem;
  /* line-height: 44px; */

  margin-right: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-round span {
  font-size: 2.6rem;
  /* line-height: 57px; */
  letter-spacing: 2.6px;
}

.date-info p {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: .2rem;
}

.date-info p span {
  font-size: 4rem;
}

.margin-left {
  margin-left: 2.5rem;
}

.banners-container {
  display: flex;
  justify-content: space-between;
}

.banners-container div {
  width: 40rem;
  height: 13.7rem;
}

/***************************/

.top-bg-left {
  /* height: 100%; */
  width: 23%;

  position: absolute;
  top: 0;
  left: 0;
}

.top-bg-right {
  /* height: 100%; */
  width: 30%;

  position: absolute;
  top: 0;
  right: 0;
}

.top-bg-middle {
  width: 100%;

  position: absolute;
  bottom: -10%;
}

/***********************/
/* description */
/***********************/

.section-description .container {
  padding: 12rem 20rem 8rem 20rem;
  background-color: var(--color-fbfce6);
}

.section-description h2 {
  font-size: 3rem;
  font-family: var(--font-family-dnp-shueimgostd);
  text-align: center;
}

.text-box-center {
  width: 60%;

  margin: 0 auto;
  text-align: center;
}

.description-img-container {

  display: flex;
  justify-content: space-between;
}

.description-img {
  width: 43%;
  background-color: transparent;
}

.description-img img {
  border-radius: 1rem;
}

.allows-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***************************/

.event-date-container {
  width: 47%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.char-style-noto h4 {
  font-size: 2rem;
  font-weight: bold;
}

.event p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.event :first-child span {
  font-size: 1.3rem;
  font-weight: bold;
}

.event :nth-child(2) {
  font-family: 'Hiragino Sans';
  font-size: 1.4rem;
}

.event :nth-child(2) span {
  margin-left: 1.5rem;
}

.event {
  margin-bottom: 1rem;
}

.event-date-container .title {
  width: 26%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.event-date-container div:nth-of-type(2) {
  margin-bottom: 2rem;
}

/***************************/

.fes-contents h4 {
  font-size: 2rem;
  font-family: var(--font-family-dnp-shueimgostd);
  text-align: center;
  /* line-height: 5rem; */
  margin-bottom: 4rem;
}

.fes-contents img {
  height: 25rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.figure-title-container {
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
}

.figure-footer-title {
  font-family: var(--font-family-dnp-shueimgostd);
  font-size: 2rem;
  margin-right: 1rem;
}

.budge {
  font-family: var(--font-family-dnp-shueimgostd);
  font-size: 1.4rem;
  color: #5D8C70;
  border: 2px solid #5D8C70;
  background: #fff;
  border-radius: .6rem;
  padding: .1rem 1rem;

  display: flex;
}

.char-style.tint {
  opacity: 0.6;
}

.svg-icon {
  width: 1rem;
  margin-right: .5rem;
}

.text-box-footer {
  margin-bottom: 2rem;
}



