/***********************/
/* HEADER */
/***********************/

header {
  background-image: url(../img/top_bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;

  position: relative;
}

header {
  font-size: 2.3rem;
  font-family: var(--font-family-dnp-shueimgostd);
  font-weight: bold;
  color: #ffffff;
}

nav {
  width: 45%;
  margin: 0 auto;
  padding-top: 5vh;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container a {
  color: #fff;
}

/***********************/

.top-info-container {
  /* width: 53.4%; */
  max-width: 85.1rem;
  max-width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%)
  /* height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.heading-top {
  font-size: 6.4rem;
  font-size: 6rem;
  font-weight: bold;
  /* line-height: 20px; */
}

.title-img-container {
  width: 100%;
  margin: 3.5vh auto 3vh auto;
  /* margin-top: 4vh;
  margin-bottom: 3.8vh;
  margin-left: auto;
  margin-right: auto; */
}

.dates-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4.5rem;
}

.date-info {
  display: flex;
  align-items: center;
}

.logo-round {
  width: 10.2rem;
  height: 10.2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #5e9b79;
  font-size: 2rem;
  /* line-height: 44px; */

  margin-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-round span {
  font-size: 2.6rem;
  letter-spacing: 0.26rem;
}

.date-info p {
  font-size: 3.9rem;
}

.date-info h2 :first-child {
  margin-bottom: 1.6rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.date-info .date {
  font-size: 5.2rem;
}

.day {
  font-size: 3rem;
}

.date-info .location {
  font-size: 3.6rem;
}

.margin-left {
  margin-left: 2.5rem;
}

.banners-container {
  display: flex;
  justify-content: space-between;
}

.banners-container div {
  width: 47.5%;
  /* height: 13.6rem; */
}

/***************************/

.social-medias-top {
  position: absolute;
  top: 5.5vh;
  right: 3%;

  display: flex;
  z-index: 1;
}
.social-medias-top div {
  width: 7.4rem;
  width: 30%;
  margin-left: 5%;
}


.top-bg-left {
  /* height: 100%; */
  width: 23%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-bg-right {
  width: 29.2%;

  position: absolute;
  top: 0;
  right: 0;
}

.top-bg-middle {
  width: 100%;

  position: absolute;
  bottom: -10%;
}

/***********************/
/* description */
/***********************/

.section-description {
  background-color: var(--color-fbfce6);
}

.section-description .container {
  padding-top: 18rem;
  padding-bottom: 14rem;
}

.section-description h2 {
  font-size: 4.8rem;
  font-family: var(--font-family-dnp-shueimgostd);
  font-weight: bold;
  text-align: center;

  margin-bottom: 4.8rem;
}

.text-box-center {
  width: 60%;

  margin: 0 auto;
  text-align: center;
  margin-bottom: 7.7rem;
}

.text-box-center p {
  margin-bottom: 2.8rem;
}

.description-img-container {
  margin-bottom: 10rem;
  
  display: flex;
  justify-content: space-between;
}

.description-img {
  width: 43.2%;
  background-color: transparent;
}

.description-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.allows-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 7.5%;
}

.allows-icons div {
  width: 5rem;
}

.allows-icons img {
  width: 100%;
  object-fit: cover;
}

.allows-icons :nth-child(2) {
  transform: scale(-1, 1)
}


/***************************/

.event-date-container {
  width: 47%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 3rem 3.2rem 3.8rem 3.2rem;
  border-radius: 1rem;

  margin-bottom: 10.2rem;
}

.char-style-noto h4 {
  font-size: 3.2rem;
  font-weight: bold;
}

.event p:first-of-type {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.event :first-child span {
  font-size: 2rem;
  font-weight: bold;
}

.event :nth-child(2) {
  font-family: 'Hiragino Sans';
  font-size: 1.8rem;
  font-weight: 300;
}

.event :nth-child(2) span {
  margin-left: 1.5rem;
}

.event-date-container .title {
  width: 26%;
  margin: 0 auto;
  margin-bottom: 4.2rem;
}

.event-date-container div:nth-of-type(2) {
  margin-bottom: 2.4rem;
}

/***************************/

.fes-contents {
  margin-bottom: 11.8rem;
}

.fes-contents .title-container {
  margin-bottom: 8.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fes-contents .title-container div {
   width: 5rem; 
}

.fes-contents .title-container img {
  height: 100%;
  object-fit: cover;
}

.fes-contents .title-container div:nth-of-type(2) {
  transform: scale(-1, 1)
}

.fes-contents h4 {
  font-size: 3.2rem;
  font-family: var(--font-family-dnp-shueimgostd);
  font-weight: bold;
  text-align: center;

  margin-left: 2rem;
  margin-right: 2rem;
  
}

.fes-img-container {
  /* width: 55.8rem; */
  width: 100%;
  height: 38.5rem;

  margin-bottom: 3.5rem;
}

.fes-contents img {
  height: 100%;
  object-fit: cover;

  border-radius: 1rem;
}

.figure-title-container {
  margin-bottom: 2.8rem;

  display: flex;
  align-items: center;
}

.figure-footer-title {
  font-family: var(--font-family-dnp-shueimgostd);
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 1rem;
}

.budge {
  font-family: var(--font-family-dnp-shueimgostd);
  font-size: 1.8rem;
  color: #5D8C70;
  border: 2px solid #5D8C70;
  background: #fff;
  border-radius: .6rem;
  padding: .1rem 1.4rem;

  display: flex;
  align-items: center;
}

.budge.web {
  border: 2px solid #e8b146;
  color: #e8b146;
}

.char-style.tint {
  opacity: 0.6;
}

.svg-budge {
  width: 2rem;
  margin-right: .5rem;
}

.text-box-footer {
  margin-bottom: 3.2rem;
}

.event-date {
  background-color: #fff;

  padding: 2.5rem 3.2rem;
  border-radius: 1rem;

  display: flex;
}

.event-date div {
  font-weight: bold;
  margin-right: 1.5rem;
}

.event-date div {
  display: flex;
  flex-direction: column;
}

.event-date img {
  width: 8rem;
}


/*******************************/

.more-event-container {
  width: 100%;
  background-color: #fff;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  
}

.more-event-container h4 {
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  font-size: 3.2rem;
  color: #fff;
  text-align: center;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  background-color: #e8b146;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

}

.more-event-container p {
  font-family: 'Hiragino Sans';
  font-size: 1.8rem;
  font-weight: 300;

  margin-bottom: 3.2rem;
}

.more-event-container div {
  padding: 4.8rem 5.6rem 5.3rem 5.6rem;
}

.more-event h5 {
  font-size: 2.4rem;
  color: #4e8e6e;

  padding-bottom: 1rem;
  display: inline-block;
  border-bottom: 2px solid #4e8e6e;

  margin-bottom: 2.2rem;
}

.more-event p {
  display: flex;
  align-items: center;
}

.svg-location {
  margin-right: 1rem;

  color: #5D8C70
}

.more-event :nth-child(2) {
  font-size: 2rem;
  color: #4e8e6e;

  margin-bottom: 1rem;
}

.more-event p:last-child {
  opacity: 0.7;
}


/***********************/
/* stage show */
/***********************/

.section-show {
  background-image: url(../img/section_bg.jpg);
  background-position: center;
  background-size: cover;

  position: relative;

}

.inner-container.yellow {
  background-color: #fbfce6;
}

.section-show .inner-container .text-box, .section-show .inner-container form p {
  margin-bottom: 3.5rem;
}


/* .schedule-container {
  display: flex;
} */

.stage-img-container{
  width: 44%;
  /* width: 100%; */
}

.stage-img-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/************************/

.table-container {
  width: 52.5%;

  background: #fff;
  border: .1rem solid #5D8C70;
  border-radius: 1rem;

  border-collapse: separate;

  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 1.8rem;
  line-height: 3.5rem;

  padding: .5rem 3rem 1rem 3rem;
}

.table-header {
  text-align: center;
  font-weight: 600;
  color: #4E8E6E;

  border-bottom: 1px dashed #4e8e6e;
}

.table-container div {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table-container .table-data {
  display: flex;
  
  border-bottom: 1px dashed #4e8e6e;
}

.table-data :first-child {
  width: 23%;
}

.table-data:last-child {
  border-bottom: none;
}

.table-data p span {
  font-weight: bold;
}

.table-data:nth-child(4) p span {
  color: #4e8e6e;
  padding-bottom: .5rem;
  border-bottom: .1rem solid #4e8e6e;
}

.table-data:nth-child(5) p span {
  color: #4e8e6e;
  padding-bottom: .5rem;
  border-bottom: .1rem solid #4e8e6e;
}

/*************************/

form {
  font-family: "NotoSansCJKjp";
  font-size: 1.8rem;
}

form label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1.8rem;
}

form input {
  width: 100%;
  background-color: rgb(232, 177, 70, 0.2);
  border: none;
  border-radius: .5rem;

  padding: 2rem;
  margin-bottom: 2.4rem;
}

form input::placeholder {
  color:rgb(51, 51, 51, 0.4);
  opacity: 1;
  font-size: 1.8rem;
}

form label span {
  font-size: 1.4rem;
  color: #fff;
  background-color: #4E8E6E;
  padding: .5rem 1rem;
  border-radius: .1rem;
  margin-left: 1rem;
}

form div:nth-of-type(4) label {
  display: block;
}

form div:last-of-type label {
  display: block;
}

form div:nth-of-type(4) input {
  width: 23%;
}

form div:last-of-type input {
  width: 23%;
  margin-bottom: 4rem;
}

form div:last-of-type span {
  font-size: 2rem;
  margin-left: 1rem;
}

.stageshow-flower-left {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 35%;
}

.stageshow-flower-right {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 22%;
}




/***********************/
/* SECTION TOUR */
/***********************/

.section-tour {
  background-color: #fbfce6;
}

.black {
  color: #333;
}

.guide-text-box {
  width: 90%;
}

.guide-text-box p {
  margin-bottom: 3.2rem;
}

.guide-text-box h4 {
  font-size: 2.4rem;
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  margin-bottom: 1.9rem;
}

.guide-img-container {
  width: 65%;
  margin-left: 4%;
}

.guide-img-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.guide-img-container p {
  text-align: center;
}

.guide-img-container div {
  margin-bottom: 2.7rem;
}

.section-tour form p {
  margin-bottom: 4.5rem;
}

/***********************/
/* SECTION STAMP RALLY */
/***********************/

.section-rally {
  padding-bottom: 15rem;
}

.section-rally {
  background-image: url(../img/section_bg.jpg);
  background-position: center;
  background-size: cover;
}

.inner-container.yellow {
  background-color: #fbfce6;
}

.char-style-noto h5 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.9rem;
}

.rally-text-box {
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: .01rem;

  margin-bottom: 5.5rem;
}

.rally-info {
  /* display: flex;
  justify-content: space-between; */

  margin-bottom: 6.4rem;
}

.rally-text-info {
  
}

.section-rally h4{
  margin-bottom: 4rem;
}

.round-number {
  width: 3.1rem; 
  height: 3.1rem;
  /* line-height: 3.2rem; */
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  font-family: var(--font-family-dnp-shueimgostd);
  background-color: #4E8E6E;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 2.8rem;
}

.rally-info li p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: .01rem;
  color: #4E8E6E;

  margin-bottom: 2.8rem;
}

.rally-info li{
  display: flex;
}

.rally-img-container {
  width: 75%;

  margin-left: 5.6rem;
}

.rally-img-container img {
  border-radius: 1rem;
}

.rally-map-container {
  width: 100%;
  height: 62.6rem;

  border-radius: .5rem;

  background: #333;
  opacity: 0.5;

  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
}

/***********************/
/* FOOTER */
/***********************/

footer {
  background-image: url(../img/top_bg.jpg);
  background-position: center;
  background-size: cover;
}

footer .container {
  position: relative;
}

footer .inner-container {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  width: 100%;

  position: absolute;
  top:-14rem;
  left: 0  
}

/* footer .container {
  padding-top: 0;
  padding-bottom: 0;

  transform: translateY(-7rem);
} */

footer .site-title {
  font-family: var(--font-family-dnp-shueimgostd);
  font-weight: bold;
}

footer .site-title p:first-child {
  font-size: 1.5rem;
}

footer .site-title p:last-child {
  font-size: 2rem;
}

footer .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .links li{
  font-size: 1.6rem;
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  padding-bottom: .5rem;
  
  border-bottom: 1px dashed #333;
}

.button.enquiry {
  height: 5rem;
  align-self: center;
  color: #fff;
  background-color: #4E8E6E;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-medias {
display: flex;
}

.social-medias img {
  width: 4.4rem;
  margin-right: 1rem;
}

.social-medias li:last-child img {
  margin-right: 0;
}

.stakeholder {
  font-size: 1.6rem;
  font-family: "NotoSansCJKjp";

  display: flex;
}

.stakeholder .sub{
  display: flex;
}

.stakeholder .sub-title {
  font-weight: bold;

  margin-right: 1.8rem;
}

.stakeholder .sub-detail p{
  opacity: 0.75;
  margin-bottom: 1rem;
}

.stakeholder .sub-detail p:first-child{
  opacity: 0.75;
}
.stakeholder .sub-detail p:last-child{
  font-size: 1.3rem;
  opacity: 0.5;
}

.svg-window {
  width: 1.5rem;
  margin-left: .5rem;
}

.event-links-title p {
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  font-size: 1.6rem;
  color: #4E8E6E;

  margin-bottom: 1.6rem;
}

.event-links li {
  font-family: "NotoSansCJKjp";
  font-size: 1.6rem;
  font-weight: normal;
  color: #4E8E6E;

  /* border-bottom: .1rem solid #4E8E6E; */

  display: flex;
  align-items: center;
}

footer .first {
  margin-bottom: 5rem;
}

.copy-right {
  font-size: 1.4rem;

  display: flex;
  justify-content: center;

  margin-top: 6rem;
}

